In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

import scipy
from scipy import stats

In [5]:
cars = pd.read_csv("mtcars.csv")
cars.head()

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
cars.sum() #sum of values for each of the columns

car_name    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                     642.9
cyl                                                       198
disp                                                   7383.1
hp                                                       4694
drat                                                   115.09
wt                                                    102.952
qsec                                                   571.16
vs                                                         14
am                                                         13
gear                                                      118
carb                                                       90
dtype: object

In [7]:
cars.sum(axis=1) #sum for each of the rows

0     328.980
1     329.795
2     259.580
3     426.135
4     590.310
5     385.540
6     656.920
7     270.980
8     299.570
9     350.460
10    349.660
11    510.740
12    511.500
13    509.850
14    728.560
15    726.644
16    725.695
17    213.850
18    195.165
19    206.955
20    273.775
21    519.650
22    506.085
23    646.280
24    631.175
25    208.215
26    272.570
27    273.683
28    670.690
29    379.590
30    694.710
31    288.890
dtype: float64

In [8]:
cars.median() #median for each column

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [11]:
cars.median(axis=1) #median for each row

0     4.000
1     4.000
2     4.000
3     3.215
4     3.440
5     3.460
6     4.000
7     4.000
8     4.000
9     4.000
10    4.000
11    4.070
12    3.730
13    3.780
14    5.250
15    5.424
16    5.345
17    4.000
18    4.000
19    4.000
20    3.700
21    3.520
22    3.435
23    4.000
24    3.845
25    4.000
26    4.430
27    4.000
28    5.000
29    6.000
30    8.000
31    4.000
dtype: float64

In [12]:
cars.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [13]:
cars.mean(axis=1)

0     29.907273
1     29.981364
2     23.598182
3     38.739545
4     53.664545
5     35.049091
6     59.720000
7     24.634545
8     27.233636
9     31.860000
10    31.787273
11    46.430909
12    46.500000
13    46.350000
14    66.232727
15    66.058545
16    65.972273
17    19.440909
18    17.742273
19    18.814091
20    24.888636
21    47.240909
22    46.007727
23    58.752727
24    57.379545
25    18.928636
26    24.779091
27    24.880273
28    60.971818
29    34.508182
30    63.155455
31    26.262727
dtype: float64

In [14]:
cars.max()

car_name    Volvo 142E
mpg               33.9
cyl                  8
disp               472
hp                 335
drat              4.93
wt               5.424
qsec              22.9
vs                   1
am                   1
gear                 5
carb                 8
dtype: object

In [15]:
cars.min()

car_name    AMC Javelin
mpg                10.4
cyl                   4
disp               71.1
hp                   52
drat               2.76
wt                1.513
qsec               14.5
vs                    0
am                    0
gear                  3
carb                  1
dtype: object

In [17]:
mpg = cars["mpg"]
mpg.idxmax() #the row where the maximum value is found.

19