In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
series_object = Series(np.arange(5),index=['one','two','three','four','five'])
print(series_object)

one      0
two      1
three    2
four     3
five     4
dtype: int32

In [4]:
anotherseries_object = Series(np.arange(10))
print(anotherseries_object)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [5]:
print(series_object['one'])

0

In [6]:
print(anotherseries_object[0])

0

In [7]:
print(series_object[3])

3

In [8]:
print(series_object.ix[3])

3

In [9]:
DataFrameObject = DataFrame(np.random.rand(9).reshape(3,3))

In [10]:
print(DataFrameObject)

          0         1         2
0  0.076779  0.405291  0.210120
1  0.437812  0.036750  0.428731
2  0.758908  0.721812  0.125919

In [11]:
DataFrameObject.ix[0]

0    0.076779
1    0.405291
2    0.210120
Name: 0, dtype: float64

In [17]:
indexedDataFrame = DataFrame(np.random.rand(16).reshape(4,4),index=['row1','row2','row3','row4'],
                            columns=['col1','col2','col3','col4'])
print(indexedDataFrame)

          col1      col2      col3      col4
row1  0.785657  0.294211  0.664580  0.971371
row2  0.293908  0.525795  0.103180  0.972898
row3  0.473919  0.384327  0.075780  0.626125
row4  0.113531  0.963650  0.688103  0.909662

In [18]:
indexedDataFrame.ix['row1','col1']

0.78565737207128039

In [19]:
DataFrameObject.ix[0,1]

0.40529109131111052

In [20]:
indexedDataFrame.ix['row1':'row3','col1':'col2']

          col1      col2
row1  0.785657  0.294211
row2  0.293908  0.525795
row3  0.473919  0.384327

In [21]:
series_object['two':'four']

two      1
three    2
four     3
dtype: int32

In [22]:
indexedDataFrame[indexedDataFrame>0.11]

          col1      col2      col3      col4
row1  0.785657  0.294211  0.664580  0.971371
row2  0.293908  0.525795       NaN  0.972898
row3  0.473919  0.384327       NaN  0.626125
row4  0.113531  0.963650  0.688103  0.909662

In [23]:
indexedDataFrame>0.11

      col1  col2   col3  col4
row1  True  True   True  True
row2  True  True  False  True
row3  True  True  False  True
row4  True  True   True  True

In [25]:
indexedDataFrame[indexedDataFrame>0.11]=8

In [26]:
print(indexedDataFrame)

      col1  col2     col3  col4
row1   8.0   8.0  8.00000   8.0
row2   8.0   8.0  0.10318   8.0
row3   8.0   8.0  0.07578   8.0
row4   8.0   8.0  8.00000   8.0

In [27]:
indexedDataFrame

      col1  col2     col3  col4
row1   8.0   8.0  8.00000   8.0
row2   8.0   8.0  0.10318   8.0
row3   8.0   8.0  0.07578   8.0
row4   8.0   8.0  8.00000   8.0