In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
series_object = Series(np.arange(5),index=['one','two','three','four','five'])
print(series_object)

one      0
two      1
three    2
four     3
five     4
dtype: int32

In [4]:
anotherseries_object = Series(np.arange(10))
print(anotherseries_object)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [5]:
print(series_object['one'])

0

In [6]:
print(anotherseries_object[0])

0

In [7]:
print(series_object[3])

3

In [8]:
print(series_object.ix[3])

3

In [9]:
DataFrameObject = DataFrame(np.random.rand(9).reshape(3,3))

In [10]:
print(DataFrameObject)

          0         1         2
0  0.076779  0.405291  0.210120
1  0.437812  0.036750  0.428731
2  0.758908  0.721812  0.125919

In [11]:
DataFrameObject.ix[0]

0    0.076779
1    0.405291
2    0.210120
Name: 0, dtype: float64