In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
DataFrameObj = DataFrame(np.random.rand(36).reshape(6,6))

In [3]:
DataFrameObj

          0         1         2         3         4         5
0  0.654646  0.541786  0.073341  0.907346  0.207386  0.005234
1  0.002604  0.474284  0.317573  0.805538  0.391202  0.690826
2  0.163102  0.299850  0.922180  0.409104  0.891994  0.992944
3  0.444986  0.306324  0.277631  0.401470  0.433729  0.726790
4  0.093944  0.042005  0.186108  0.649986  0.190422  0.279942
5  0.070107  0.362961  0.341863  0.238374  0.545780  0.097734

In [4]:
DataFrameObj = DataFrameObj*100

In [5]:
DataFrameObj

           0          1          2          3          4          5
0  65.464580  54.178563   7.334096  90.734565  20.738564   0.523412
1   0.260441  47.428358  31.757275  80.553771  39.120207  69.082570
2  16.310246  29.984983  92.217986  40.910360  89.199390  99.294424
3  44.498624  30.632370  27.763070  40.146969  43.372873  72.679030
4   9.394438   4.200532  18.610759  64.998566  19.042180  27.994221
5   7.010746  36.296124  34.186293  23.837350  54.577980   9.773428

In [6]:
missing = np.nan #Not available. NaN. Basically a way to represent missing values 
missing

nan

In [7]:
DataFrameObj.ix[1:3,4:5] = missing
DataFrameObj

           0          1          2          3          4          5
0  65.464580  54.178563   7.334096  90.734565  20.738564   0.523412
1   0.260441  47.428358  31.757275  80.553771        NaN        NaN
2  16.310246  29.984983  92.217986  40.910360        NaN        NaN
3  44.498624  30.632370  27.763070  40.146969        NaN        NaN
4   9.394438   4.200532  18.610759  64.998566  19.042180  27.994221
5   7.010746  36.296124  34.186293  23.837350  54.577980   9.773428

In [8]:
DataFrameObj.isnull() #returns "logical" series/dataframe and all NaNs are true.

       0      1      2      3      4      5
0  False  False  False  False  False  False
1  False  False  False  False   True   True
2  False  False  False  False   True   True
3  False  False  False  False   True   True
4  False  False  False  False  False  False
5  False  False  False  False  False  False

In [9]:
DataFrameCopy = DataFrameObj
DataFrameCopy[DataFrameCopy.isnull()] = 'random'
DataFrameCopy

           0          1          2          3        4         5
0  65.464580  54.178563   7.334096  90.734565  20.7386  0.523412
1   0.260441  47.428358  31.757275  80.553771   random    random
2  16.310246  29.984983  92.217986  40.910360   random    random
3  44.498624  30.632370  27.763070  40.146969   random    random
4   9.394438   4.200532  18.610759  64.998566  19.0422   27.9942
5   7.010746  36.296124  34.186293  23.837350   54.578   9.77343

In [13]:
DataFrameCopy[DataFrame[:,4].str.match('random')]
DataFrameCopy

TypeError: 'type' object has no attribute '__getitem__'