In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
DataFrameObj = DataFrame(np.random.rand(36).reshape(6,6))

In [3]:
DataFrameObj

          0         1         2         3         4         5
0  0.232372  0.035799  0.760595  0.599706  0.313188  0.573782
1  0.924169  0.531176  0.121428  0.915477  0.663902  0.942800
2  0.724937  0.358459  0.493087  0.020715  0.055864  0.897029
3  0.015062  0.514529  0.447424  0.800244  0.846887  0.605045
4  0.593422  0.495942  0.979937  0.628389  0.184503  0.095214
5  0.608286  0.347548  0.272106  0.547991  0.964148  0.034453

In [4]:
DataFrameObj = DataFrameObj*100

In [5]:
DataFrameObj

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693  66.390209  94.280047
2  72.493744  35.845897  49.308653   2.071549   5.586357  89.702940
3   1.506172  51.452939  44.742447  80.024397  84.688710  60.504481
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [6]:
missing = np.nan #Not available. NaN. Basically a way to represent missing values 
missing

nan

In [7]:
DataFrameObj.ix[1:3,4:5] = missing
DataFrameObj

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693        NaN        NaN
2  72.493744  35.845897  49.308653   2.071549        NaN        NaN
3   1.506172  51.452939  44.742447  80.024397        NaN        NaN
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [8]:
DataFrameObj.isnull() #returns "logical" series/dataframe and all NaNs are true.

       0      1      2      3      4      5
0  False  False  False  False  False  False
1  False  False  False  False   True   True
2  False  False  False  False   True   True
3  False  False  False  False   True   True
4  False  False  False  False  False  False
5  False  False  False  False  False  False

In [9]:
DataFrameObj

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693        NaN        NaN
2  72.493744  35.845897  49.308653   2.071549        NaN        NaN
3   1.506172  51.452939  44.742447  80.024397        NaN        NaN
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [10]:
DFcpy = DataFrameObj
DFcpy

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693        NaN        NaN
2  72.493744  35.845897  49.308653   2.071549        NaN        NaN
3   1.506172  51.452939  44.742447  80.024397        NaN        NaN
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [11]:
DFcpy.fillna(0)

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693   0.000000   0.000000
2  72.493744  35.845897  49.308653   2.071549   0.000000   0.000000
3   1.506172  51.452939  44.742447  80.024397   0.000000   0.000000
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [12]:
DFfilled = DFcpy.fillna(0)
DFfilled

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693   0.000000   0.000000
2  72.493744  35.845897  49.308653   2.071549   0.000000   0.000000
3   1.506172  51.452939  44.742447  80.024397   0.000000   0.000000
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [13]:
# a dict can also be passed into .fillna(). Default is column wise
DFdictfilled = DFcpy.fillna({4:10,5:20})
DFdictfilled

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693  10.000000  20.000000
2  72.493744  35.845897  49.308653   2.071549  10.000000  20.000000
3   1.506172  51.452939  44.742447  80.024397  10.000000  20.000000
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [14]:
# method='ffill' will copy last non-null element in the column series into the null values
DFdictfilled = DFcpy.fillna(method="ffill")
DFdictfilled

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693  31.318809  57.378157
2  72.493744  35.845897  49.308653   2.071549  31.318809  57.378157
3   1.506172  51.452939  44.742447  80.024397  31.318809  57.378157
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [15]:
# counting is done using the .sum() values. it is done on logical dataframes
# and sums up all the true values. it is done for each column.

DFmissing = DataFrameObj
DFmissing

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693        NaN        NaN
2  72.493744  35.845897  49.308653   2.071549        NaN        NaN
3   1.506172  51.452939  44.742447  80.024397        NaN        NaN
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [16]:
DFmissing.isnull().sum()

0    0
1    0
2    0
3    0
4    3
5    3
dtype: int64

In [17]:
#rows with missing values can be dropped by using drop na.
DFdropmissing = DFmissing
DFdropmissing=DFdropmissing.dropna()
DFdropmissing

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [18]:
DFdropmissing = DFmissing
DFdropmissing = DFdropmissing.dropna(axis=1) #drops columns instead of rows
DFdropmissing

           0          1          2          3
0  23.237213   3.579948  76.059525  59.970570
1  92.416882  53.117620  12.142832  91.547693
2  72.493744  35.845897  49.308653   2.071549
3   1.506172  51.452939  44.742447  80.024397
4  59.342183  49.594200  97.993664  62.838921
5  60.828574  34.754761  27.210584  54.799111

In [19]:
# .dropna(how="all") will delete a row only when there are all NaNs
# can use axis for columns
DFdropmissing = DFmissing
DFdropmissing = DFdropmissing.dropna(how="all") 
DFdropmissing

           0          1          2          3          4          5
0  23.237213   3.579948  76.059525  59.970570  31.318809  57.378157
1  92.416882  53.117620  12.142832  91.547693        NaN        NaN
2  72.493744  35.845897  49.308653   2.071549        NaN        NaN
3   1.506172  51.452939  44.742447  80.024397        NaN        NaN
4  59.342183  49.594200  97.993664  62.838921  18.450286   9.521408
5  60.828574  34.754761  27.210584  54.799111  96.414841   3.445338

In [20]:
DFdropmissing.ix[:,4:5]=np.nan
DFdropmissing

           0          1          2          3   4   5
0  23.237213   3.579948  76.059525  59.970570 NaN NaN
1  92.416882  53.117620  12.142832  91.547693 NaN NaN
2  72.493744  35.845897  49.308653   2.071549 NaN NaN
3   1.506172  51.452939  44.742447  80.024397 NaN NaN
4  59.342183  49.594200  97.993664  62.838921 NaN NaN
5  60.828574  34.754761  27.210584  54.799111 NaN NaN

In [21]:
DFdropmissing=DFdropmissing.dropna(how="all")
DFdropmissing

           0          1          2          3   4   5
0  23.237213   3.579948  76.059525  59.970570 NaN NaN
1  92.416882  53.117620  12.142832  91.547693 NaN NaN
2  72.493744  35.845897  49.308653   2.071549 NaN NaN
3   1.506172  51.452939  44.742447  80.024397 NaN NaN
4  59.342183  49.594200  97.993664  62.838921 NaN NaN
5  60.828574  34.754761  27.210584  54.799111 NaN NaN

In [22]:
DFdropmissing = DFdropmissing.dropna(how="all",axis=1)
DFdropmissing

           0          1          2          3
0  23.237213   3.579948  76.059525  59.970570
1  92.416882  53.117620  12.142832  91.547693
2  72.493744  35.845897  49.308653   2.071549
3   1.506172  51.452939  44.742447  80.024397
4  59.342183  49.594200  97.993664  62.838921
5  60.828574  34.754761  27.210584  54.799111